@model ADSEvaluacion1.Models.Operaciones
@{
    ViewBag.Title = "Operaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul>
    <a href="Suma">Suma</a>
    <br />
    <a href="Resta">Resta</a>
    <br />
    <a href="Multiplicacion">Multiplicacion</a>
    <br />
    <a href="Division">Division</a>
    <br />
</ul>



