@model ADSEvaluacion1.Models.Operaciones
@{
    ViewBag.Title = "Respuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
Operacion: Resta
<br />
Respuesta: @Model.resta
<br />
<br />
<a href="http://localhost:52431/Operaciones/Operaciones">Regresar</a>
