@model ADSEvaluacion1.Models.Operaciones
@{
    ViewBag.Title = "Respuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
El resultado es: @Model.suma
<br />
<a href="http://localhost:52431/Operaciones/Operaciones">Regresar</a>
